.document-tab {
  &__document {
    display: inline-block;
    width: 100%;

    & > span {
      font-size: 12px;
      line-height: 16px;
      width: calc(33% - 17px);
      float: left;

      &:not(:first-of-type) {
        text-align: center;
      }
    }
  }

  .el-upload,
  .el-upload-dragger {
    width: 100%;
    height: auto;
  }

  .el-upload-dragger {
    padding: 6px 0;
  }

  .el-upload__text {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-focus: none;

    em:hover {
      border-bottom: 1px solid;
    }
  }

  input[type=file] {
    display: none;
  }
}