.el-upload,
.el-upload-dragger {
  width: 100%;
  height: auto;
}

.el-upload-dragger {
  padding: 6px 0;
}

.el-upload__text {
  -moz-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-focus: none;

  em:hover {
    border-bottom: 1px solid;
  }
}

input[type='file'] {
  display: none;
}

.tab-form {
  .uploaded {
    .el-upload {
      display: none;
    }
  }

  & > div,
  .el-upload,
  .el-date-editor.el-input,
  .el-select {
    width: 100%;
  }

  .photo-block {
    position: relative;

    button {
      position: absolute;
      bottom: 0;
    }
  }

  .el-upload--picture-card,
  .el-upload-dragger {
    height: 100%;
    width: 100%;
  }

  .el-upload--picture-card,
  .el-upload-list--picture-card .el-upload-list__item {
    max-width: 200px;
    height: 200px;
    line-height: 190px;
  }

  .el-upload {
    &-dragger {
      .el-icon-upload {
        font-size: 20px;
        color: #c0c4cc;
        line-height: 18px;
        margin: 0;
        margin-right: 10px;
      }
    }

    &-list.is-disabled {
      & + .el-upload {
        cursor: default;

        &:hover {
          border-color: #c0ccda;
        }

        .el-upload-dragger {
          background: #f5f5f5;
          opacity: 0.7;
          border: none;
          cursor: default;

          &:hover {
            border: none;
          }
        }
      }
    }
  }

  .preview {
    .is-disabled {
      opacity: 1;

      input,
      textarea {
        background-color: #ffffff !important;
        color: #606266 !important;
      }
    }
  }

  .el-upload-list {
    display: none;
  }
}
