.task-edit {
  display: grid;
  //  & > * {
  //    display: grid;
  //  }

  .el-form-item.sub-field {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    /* grid-template-columns: 1fr 1fr; */

    &:before,
    &:after {
      content: unset;
    }
  }

  input[type='text'],
  input[type='number'] {
    background: #f0faf8;
  }

  .el-form-item.sub-field {
    background: #ffffff;
  }

  .el-form-item--small.el-form-item {
    margin: 0;
    padding: 10px;
  }
}

#pagecontent {
  max-width: 1200px;
  margin: 0 auto;
}

.favorite {
  display: none;
}

.task-form {
  &__section > div {
    box-shadow: 0 3px 16px -1px rgba(55, 72, 118, 0.13);
  }
}

// %card-info {
//   padding: 0 1em 1em 1em;
//   box-shadow: -6px 4px 10px 0px rgba($dark-color, 00.42);
// }

.task-view {
  @extend %crm-font;
  color: $--color-text-regular;
  position: relative;
  // padding-top: 20px;

  &__inline-buttons {
    // margin-bottom: 1em;
    // // width: 100%;
    // position: absolute;
    // top: -50px;
    // right: 0;
    // text-align: right;
    margin-bottom: 0;
    // text-align: right;
    margin-top: -12px;
    display: inline-block;
    width: 100%;

    .btn-wrapper {
      width: 100%;
    }

    .el-menu--horizontal {
      width: auto;
      border: none;
      // float: right;

      & > .el-submenu .el-submenu__title {
        height: auto;
        line-height: unset;
        // margin-left: 10px;
        padding: 0;
        border: none;

        span {
          height: 10px; /* auto */
          line-height: 10px;
          width: auto;
          visibility: visible;
        }
      }
    }

    // .el-button.is-circle {
    //   width: 40px;
    //   height: 34px;
    // }

    .inline-buttons__btn {
      float: left;
    }
  }

  &__link {
    width: 100%;
    display: block;
  }

  &__main {
    @extend %flex;
    justify-content: space-between;
  }

  &__info {
    @extend .border-radius;
    // @extend %card-info;
    flex: 1;
    margin-right: 1em;
    padding: 0 1em 1em 1em;
    box-shadow: -6px 4px 10px 0 rgba(76, 91, 92, 0.42);
  }

  &__comments {
    @extend .border-radius;
    // @extend %card-info;
    flex: 1;
    margin-right: 1em;
    padding: 0 1em 1em 1em;
    box-shadow: -6px 4px 10px 0 rgba(76, 91, 92, 0.42);

    &__s-comment {
      margin-bottom: 1em;
    }
  }

  .el-table {
    &__header-wrapper {
      .el-checkbox {
        display: none;
      }
    }
  }
}

.task-table {
  @extend %flex-col;
  @extend %crm-font;
}

.table-top-nav {
  @extend %flex;
  margin-bottom: 0.5em;

  &__right {
    flex: 1;
  }
}

.task-item {
  @extend %flex-col;
  @extend .border-radius;
  background: $--color-white;
  margin-bottom: 1.25em;
  box-shadow: -6px 4px 10px 0px rgba($dark-color, 0.42);

  &__top {
    @extend %flex-center;
    padding: 0.5em 1em;
    position: relative;
  }

  &__bottom {
    @extend %flex-col;
    @extend .border-bottom-radius;
    background: $--border-color-lighter;
    padding: 0.5em 1em;
  }

  &__bottom-main {
    @extend %flex;
    justify-content: space-between;
    margin-bottom: 1em;
    color: #606266;
  }

  &__dates {
    display: flex;
    font-size: 12px;

    span {
      width: 50%;
    }
  }

  &__grade {
    flex: 1;
    margin-right: 1em;
  }

  &__salary {
    @extend %flex;
    white-space: nowrap;
    justify-content: flex-end;
    flex: 0;
  }

  &__salary-min {
    &:after {
      content: '-';
      margin: 0 0.5em;
    }
  }

  &__peoples {
    @extend %flex;
    justify-content: space-between;

    &__peoples {
      width: 50%;
    }
  }

  &__left {
    @extend %flex;
    flex-wrap: wrap;
    align-self: stretch;
    margin-right: 1em;
    width: 40%;
  }

  &__left {
    &-top,
    &-bottom {
      width: 100%;
      @extend %flex-center;
      flex-wrap: nowrap;
    }
  }

  &__title {
    @extend %flex-center;
    flex: 80%;
    height: 100%;
    overflow: hidden;
    margin-right: 0.5em;
  }

  &__title-link {
    display: block;
    color: $--color-primary;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    font-weight: bold;
    font-size: 1.25em;
    max-width: 90%;
  }

  &__title-link + .el-tag {
    margin-left: 0.5em;
  }

  &__cv-link {
    position: relative;
    top: -10px;
    margin: 0 8px;

    svg {
      height: 20px;
      width: 20px !important;
      color: #606266;
    }
  }

  &__status {
    @extend %flex-center;
    flex: 20%;
    justify-content: flex-end;
    position: relative;

    .el-select {
      opacity: 0;
      position: absolute;
    }
  }

  &__project {
    font-size: 0.875em;
    margin-right: 30px;
    line-height: 22px;
    display: inline-block;
  }

  &__reason {
    display: inline-block;
    font-size: 14px;
  }

  &__bottom-item {
    @extend %flex-center;
    // justify-content: flex-end;
    // width: 50%;
    width: 100%;

    .el-tag {
      margin-right: 12px;
    }
  }

  &__control {
    @extend %flex-center;

    .el-checkbox__input {
      cursor: default;
    }

    label {
      padding-right: 5px;
    }
  }

  &__medium {
    @extend .border-right-radius;
    @extend %flex;
    flex-wrap: wrap;
    flex: 1;
    // width: 37%;
    margin-left: 15px;

    &-value {
      width: 49%;
      margin: 0.25em 0;
      overflow: hidden;

      &:nth-child(odd) {
        margin-right: 6px;
      }
    }

    &-link {
      font-weight: bold;
      font-size: 0.875em;
      color: $--color-text-regular;

      &_type_elipsis {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  &__right {
    width: 17%;
    margin-right: 2em;
  }

  &__button-down {
    position: absolute;
    right: 0.5em;
    bottom: 0.5em;
  }

  svg.fa-signal {
    height: auto;
    width: 32px;
    position: relative;
    top: -3px;

    path.fa-primary {
      color: #96caff;
    }

    path.fa-secondary {
      color: #ddeeff;
    }
  }

  .el-icon-warning {
    color: #ff5d5d;
    font-weight: bold;
    margin-right: 10px;
  }

  .el-icon-bottom {
    color: #12de3e;
    font-weight: bold;
    margin-right: 10px;
  }

  .el-icon-d-arrow-left {
    color: #ffa344;
    font-weight: bold;
    margin-right: 10px;

    &.top {
      transform: rotate(90deg);
    }
  }
}

.peoples {
  @extend %flex-col;

  &__label {
    font-weight: bold;
    margin-bottom: 0.5em;

    &:after {
      content: ':';
    }
  }

  &__tags {
    @extend %flex;
    flex-wrap: wrap;
  }

  &__tag {
    margin: 0 0.5em 0.5em 0;
  }
}

.task {
  &-edit {
    .el-form {
      &-item {
        input[name='salary_max'] + .el-form-item__error {
          display: none !important;
        }
      }
    }

    &__inline-buttons {
      margin-bottom: 15px;
    }

    .sub-fields {
      & > .el-form-item__content {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 10px;
        align-items: center;

        &:before,
        &:after {
          content: unset;
        }
      }

      &--bool {
        .el-form-item__content {
          grid-gap: 20px;
        }

        label {
          padding-right: 6px;
          margin: 0;
          line-height: inherit !important;
        }
      }

      .el-form-item,
      .el-checkbox {
        margin: 0;
        vertical-align: middle;
      }

      .el-checkbox__input {
        line-height: inherit;
      }

      &--bool .el-form-item__label-wrap,
      &--bool .el-form-item__content {
        float: left;
      }
    }

    .inline-buttons__btn {
      margin-bottom: 0 !important;
      margin-top: 0 !important;
    }
  }
}

.el-select-dropdown {
  .status-item {
    padding: 0 5px;
    margin-bottom: 2px;
    min-width: 100px;
    text-align: center;
    height: auto;

    .el-tag {
      width: 100%;
    }
  }
}

.el-tag {
  i.el-icon-arrow-up {
    transition: transform 0.3s;
    transform: rotate(180deg);

    &.is-reverse {
      transform: rotate(0deg);
    }
  }
}

.tags {
  margin-bottom: 10px;
  width: 100%;
  display: inline-block;
  margin-bottom: 10px;
  overflow: hidden;
  padding: 2px 0;

  .el-collapse {
    border: none;
  }

  .el-collapse-item {
    &__wrap {
      border: none;
    }

    & > div:first-child {
      display: none;
    }

    &__content {
      padding: 0;
    }
  }
}

.saved-tags {
  display: inline;
  margin-left: 5px;
  position: relative;

  .el-tag {
    margin-right: 5px;
    position: relative;
  }

  .el-loading-spinner {
    margin-top: -11px;

    .circular {
      width: 22px;
      height: 22px;
    }
  }
}

.tag-form {
  max-width: 450px;
  border: none;
  padding: 10px 0;

  .el-button {
    .el-loading-spinner {
      margin-top: -14px;

      .circular {
        width: 28px;
        height: 28px;
      }
    }
  }

  .el-select__input {
    background-color: transparent !important;
  }
}

.label-value {
  @extend %flex;
  word-break: break-word;

  &__label {
    color: $--color-text-placeholder;
    font-size: 0.875em;
    margin-right: 0.5em;
    white-space: nowrap;

    &::after {
      content: ':';
    }
  }

  &__value {
    font-size: 0.875em;
    color: #606266;

    &_wrap_normal {
      white-space: normal;
    }
  }
}