%flex {
  display: flex;
}

%flex-col {
  @extend %flex;
  flex-direction: column;
}

%flex-center {
  @extend %flex;
  align-items: center;
}

%flex-center-center {
  @extend %flex-center;
  justify-content: center;
}
